/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

html {
  scroll-padding-top: 110px;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 20%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner Css ************/
.banner {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #121212;
}

.banner .container {
  z-index: 2;
  position: relative;
}

.banner .tagline {
  font-weight: 700;
  font-size: 1.1rem;
  color: #332391;
  background: linear-gradient(
    90deg,
    rgba(0, 201, 255, 0.8),
    rgba(0, 255, 150, 0.8)
  );
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.4);
}

.banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 1rem;
}

.banner .dynamic-text {
  color: #00ffcc;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(58, 179, 154, 0.6);
}

.banner p {
  font-size: 1.3rem;
  color: #cfcfcf;
  margin-bottom: 1.5rem;
}

.banner button {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgba(0, 201, 255, 0.8),
    rgba(0, 255, 150, 0.8)
  );
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.banner button:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 150, 0.8),
    rgba(0, 201, 255, 0.8)
  );
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.7);
}

.banner .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .portfolio-image {
  position: relative;
  display: block;
  margin: auto;
  max-width: 85%;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgba(0, 255, 150, 0.8);
  box-shadow: 0 4px 20px rgba(0, 255, 150, 0.4);
  animation: none !important;
}

/* Particles Background */
.banner .motion-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
}

/************ Skills Css ************/
/* Skill Box Styling */
.skill-bx {
  background: rgba(134, 126, 126, 0.2);
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  margin-top: -10px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  position: relative;
  overflow: visible;
}

/* Skill Item Styling */
.skill-slider .item {
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

.skill-slider .item h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.skill-slider .item p {
  font-size: 14px;
  color: #d1d1d1;
}

/* Carousel Container */
.carousel-container {
  position: relative;
  overflow: visible;
}

.react-multiple-carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 101;
}

.react-multiple-carousel__arrow--left {
  left: -80px;
  transform: translateX(-120%) translateY(-90%);
}

.react-multiple-carousel__arrow--right {
  right: -80px;
  transform: translateX(120%) translateY(-90%);
}

@media (max-width: 1024px) {
  .react-multiple-carousel__arrow--left {
    left: -60px;
  }
  .react-multiple-carousel__arrow--right {
    right: -60px;
  }
}

.react-multiple-carousel__arrow:hover {
  background: rgba(255, 255, 255, 0.4);
}

/************ Projects CSS ************/
.project {
  padding: 80px 0;
  background-color: transparent;
  z-index: 2;
  position: relative;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
}

.project p {
  color: #d1d1d1;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 3;
  position: relative;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  z-index: 3;
  position: relative;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.proj-imgbx {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
}

.proj-imgbx img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.proj-description {
  text-align: center;
  color: #ffffff;
  z-index: 3;
  position: relative;
}

.proj-description h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.proj-description p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.tech-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  z-index: 3;
  position: relative;
}

.tech-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.tech-icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
}

.proj-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 3;
  position: relative;
}

.proj-links a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.proj-links .live-demo {
  background: linear-gradient(90deg, #aa367c, #4a2fbd);
  box-shadow: 0px 4px 10px rgba(74, 47, 189, 0.6);
}

.proj-links .github-repo {
  background: rgba(255, 255, 255, 0.1);
}

.proj-links a:hover {
  transform: translateY(-2px);
}

/************ Contacts Css ************/
.contact {
  position: relative;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  max-height: 100vh;
}

.contact-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  gap: 30px;
}

.contact-container img {
  flex: 1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.contact-form {
  position: relative;
  z-index: 2;
  flex: 1;
  max-width: 60%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.contact-form h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  z-index: 3;
}

.contact-form form {
  position: relative; /* Necessary for z-index */
  z-index: 2;
  width: 100%;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  outline: none;
  transition: background 0.3s, color 0.3s;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  background: #ffffff;
  color: #060507;
  border: 1px solid #aa367c;
}

.contact-form form textarea {
  resize: none;
  height: 120px;
}

.contact-form form button {
  display: block;
  background: #ffffff;
  color: #060507;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 25px;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.contact-form form button:hover {
  background: #121212;
  color: #ffffff;
}

/************ Footer Css ************/
.footer {
  padding: 20px 0;
  background: transparent;
  z-index: 10;
  position: relative;
}

.footer img {
  width: 120px;
  margin-bottom: 12px;
}

.footer .social-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.footer .social-icon a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.footer .social-icon a img:hover {
  transform: scale(1.2);
}

.footer p {
  font-size: 14px;
  color: #b8b8b8;
  text-align: center;
  margin-top: 10px;
}
